body{
font-family:Arial;
margin:40px;
}

form{
width:350px;
display:flex;
flex-direction:column;
}

input,select,textarea{
padding:6px;
margin-top:5px;
}

textarea{
height:80px;
}

button{
margin-top:15px;
padding:8px;
cursor:pointer;
}

.error{
color:red;
font-size:13px;
margin-bottom:10px;
}

#charCount{
font-size:12px;
margin-bottom:5px;
}

#confirmBox{
margin-top:20px;
padding:15px;
border:1px solid #ccc;
display:none;
}

#success{
font-size:18px;
color:green;
margin-top:20px;
}